/*通配符*/
*{
    margin: 0px;
    padding: 0px;
    /*background-color: #ffdfe5;*/
    font-family: monospace;
}

/*页面大小*/
#container{
    height: 1780px;
    width: 1000px;
    background-color: #FFF0F5;
    box-shadow: #2d2d2d 1px 5px 5px 5px ;
    margin: auto;
    border-radius: 10px;
    alpha(opacity=90);
    opacity: 0.9;
}
/*标题*/
.title{
    /*margin: auto;*/
    font-size: 30px;
    height: 50px;
    width: 400px;
    text-align: center;
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 5px;
 
}
/*第一模块：志愿者誓词*/
.part_1{
   
    height: 90px;
    width: 90%;
    margin: auto;
    border:1px solid #0c0c0c;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
}
.part_1 p{
    text-indent: 1cm;
  
    /*line-height: 150%;*/
}
.part_1 #pa_1{
    background-color: 	#FAF0E6;
}
.part_1 article{
    line-height: 150%;
 
    margin-top: 5px;
}
/*form设置*/

/*第二模块：注册志愿者基本资料*/
.part_2{
  
    height: 490px;
    width: 90%;
    margin: auto;
    border:1px solid #0c0c0c;
    padding: 5px;
    border-radius: 10px;
}
.form_1{
    margin-top: 1.5px;
    margin-left: 40px;
}
.pic{
    width: 180px;
    height: 200px;
    position: absolute;
    margin-left: 600px;

}

/*第三模块：学院信息*/
.part_3{
    border-radius: 10px;
    height: 235px;
    width: 90%;
    margin: auto;
    border:1px solid #0c0c0c;
    padding: 5px;
}
.form_2{
    margin-top: 1.5px;
    margin-left: 40px;
}
/*第四模块：个人信息验证*/
.part_4{
    border-radius: 10px;
    height: 240px;
    width: 90%;
    margin: auto;
    border:1px solid #0c0c0c;
    padding: 5px;
}
.form_3{
    margin-top: 1.5px;
    margin-left: 40px;
}
/*第五模块：支援服务分类*/
.part_5{
    border-radius: 10px;
    height: 250px;
    width: 90%;
    margin: auto;
    border:1px solid #0c0c0c;
    padding: 5px;
}
.form_5 input{
    border-style: none;
}
.form_5 table{
    border-collapse:collapse;
    border:1px solid black;
}
.form_5  td {
    border:1px solid black;
}
.form_5  th {
    border:1px solid black;
}
.form_4{
    margin-top: 1.5px;
}
.form_4 table {
    margin-left: 50px;
}
/*第六模块：志愿者诚信档案*/
.part_6{
    border-radius: 10px;
    height: 370px;
    width: 90%;
    margin: auto;
    border:1px solid #0c0c0c;
    padding: 5px;
}
.form_5 table{
    margin-left: 10px;
    text-align: center;
}
#tb th{
    text-align: center;
}
.t1{
    -moz-box-sizing : border-box ;
    -webkit-box-sizing : border-box ;

    box-sizing : border-box ;
    height : 28px ;
    width: 40px;
}
.t2{
    -moz-box-sizing : border-box ;
    -webkit-box-sizing : border-box ;
    box-sizing : border-box ;
    height : 28px ;
    width: 90px;
}
.t3{
    -moz-box-sizing : border-box ;
    -webkit-box-sizing : border-box ;
    box-sizing : border-box ;
    height : 28px ;
    width: 60px;
}
.t4{
    -moz-box-sizing : border-box ;
    -webkit-box-sizing : border-box ;
    box-sizing : border-box ;
    height : 28px ;
    width: 190px;
}
.t5{
    -moz-box-sizing : border-box ;
    -webkit-box-sizing : border-box ;
    box-sizing : border-box ;
    height : 28px ;
    width: 40px;
}
.t6{
    -moz-box-sizing : border-box ;
    -webkit-box-sizing : border-box ;
    box-sizing : border-box ;
    height : 28px ;
    width: 110px;
}
.t7{
    -moz-box-sizing : border-box ;
    -webkit-box-sizing : border-box ;
    box-sizing : border-box ;
    height : 28px ;
    width: 110px;
}
.t8{
    -moz-box-sizing : border-box ;
    -webkit-box-sizing : border-box ;
    box-sizing : border-box ;
    height : 28px ;
    width: 110px;
}
.t9{
     -moz-box-sizing : border-box ;
     -webkit-box-sizing : border-box ;
     box-sizing : border-box ;
     height : 28px ;
     width: 60px;
 }
.form_5 button{
    margin-left: 400px;
}